/*general*/
body{
    margin: 0;
    padding: 0;
    font-family: 'europeext', sans-serif;
    text-transform: uppercase;
}
.content{
    width: 100%;
    min-width: 980px;
    overflow: hidden;
}
.content__sub{
    width: 980px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    
}
.slider{
    background-image: url('back-img/museum.png');
    background-clip: border-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.movie{
    background-image:url('back-img/video-background.png');
    background-clip: border-box;
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.table1{
    background: url('back-img/table1-background.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 100% auto;
    background-position: center left;
}
.table2{
    background: url('back-img/table2-background.png');
    background-repeat: no-repeat;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 100% auto;
    background-position: center left;
}
.header{
    font-family: sans-serif;
    background:#01983b url('pic/pattern.png');
    height: 76px;
    width: 100%;
}
.footer{
    background: url('back-img/PENOBOARD.png');
    background-size: 100% 100%;
    background-clip: border-box;
    background-origin: padding-box;
}
.nav{
    width: 980px;
    margin: 0 auto;
}
.nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav li{
    line-height: 76px;
    float: left;
    margin-right: 38px;
}
.nav li:last-child{
    margin-right: 0;
}
.nav li a{
    text-decoration: none;
    color: #fff;
}
.nav li a:hover,
.nav li a:active{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.is-active{
    padding: 5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
/*logo, head-contacts, search field*/
.head-contacts{
    float: right;
    margin-top: 25px;
}
.head-contacts p:nth-child(2){
    text-transform: none;
    margin-top: -8px;
}

.head-contacts p a{
    font-family: sans-serif;
    font-weight: bold;
    color: #2c2783;
    text-decoration: none;
    vertical-align: top;
}
.head-contacts p:first-child{
    text-align: right;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 21px;
    color: #01983b;
}
.head-contacts p:first-child img{
    display: inline-block;
    vertical-align:middle;
}
.head-contacts p:first-child span{
    margin-right: 10px;
}
.head-contacts p img:hover{
    opacity: 0.7;
}
.head-contacts form{
    margin-top: -10px;
}
.head-contacts input[type='text']{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #bfbeda;
    width: 390px;
}
.head-contacts input[type='submit']{
    border: none;
    background-image: url('back-img/search.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #fff;
    outline: 0;
    cursor: pointer;
    height: 19px;
    width: 19px;
}
.logo{
    float: left;
    margin-top: 40px;
}
.carousel{
    width: 980px;
}
.slider__sub{
    position: relative;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}
.prev{
    background-image: url('pic/prev.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40%;
    left: 2%;
    list-style: none;
}
.next{
    background-image: url('pic/next.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40%;
    right: 2%;
    list-style: none;
}
.slick-dots{
    position: absolute;
    bottom: -6px;
    left: -15px;
    z-index: 999;
}
.slick-dots li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.slick-dots li img:first-child {
    display: block;
}

.slick-dots li img:nth-child(2) {
    display: none;
}

.slick-dots li.slick-active img:first-child {
    display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
    display: block;
}
.slider-text{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.36);
    top: 55%;
    left: 0;
    z-index: auto;
    padding-left: 24px;
    box-sizing: border-box;
    height: 140px;
    width: 770px;
    
}
.slider-text p:first-child,
.slider-text p:nth-child(2){
    position: absolute;
    color: #fff;
    z-index: 999;
}
.slider-text p:first-child{
    bottom: 20px;
    font-size: 30px;
    line-height: 28px;
    
}
.slider-text p:nth-child(2){
    bottom: -15px;
    font-size: 24px;
    font-weight: bold;
    
}
.slider-shadow {
    display: block;
    margin-left: -120px;
}
.title{
    font-family: 'europeext';
}
.title img{
    display: block;
    margin: 0 auto 0 auto;
    padding: 65px 0 0 0;
}
.title p{
    text-align: center;
    color: #073d79;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
}
.penopolistirol{
    position: absolute;
    top: 20px;
    left: -600px;
    z-index: -1;
    
}
.movie__block{
    width: 574px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
    position: relative;
    z-index: 99;
}
.movie-shadow{
    display: block;
    margin-left: -15%;
    margin-bottom: 15px;
}
.content-text{
    display: block;
    width: 831px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-transform: none;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #073d79;
    margin-top: -12px;
    margin-bottom: 40px;
}
.btn{
    display: block;
    width: 405px;
    height: 53px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background:#01983b url('pic/pattern.png');
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 78px;
    cursor: pointer;
}
.btn a{
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    line-height: 53px;
    padding-left: 42px;
}
.btn:hover{
    background-color: #03b848;
}
.btn:active{
    background-color: #026e2c;
}
.usage{
    margin-top: -10px;
    font-family: sans-serif;
    font-size: 14px;
    background: url('back-img/usingarea-background.png') no-repeat;
    background-size: 100% 100%;
    background-position: top right;
}
.usage__sub{
    display: block;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    width: 1225px;
}
.usage__img1{
    position: relative;
    background: url('back-img/usage-img1.jpg') no-repeat;
    display: inline-block;
}
.usage__img1>div>span,
.usage__img2>div>span{
    display: block;
    padding-top: 20px;
}
.usage__img2{
    position: relative;
    background: url('back-img/usage-img2.jpg') no-repeat content-box;
    display: inline-block;
}
.usage__img1 img{
    position: absolute;
    top: 92%;
}
.usage__img2 img{
    position: absolute;
    top: 92%;
}
.usage__img1>div{
    width: 610px;
    height: 308px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.usage__img2>div{
    width: 610px;
    height: 308px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}
.usage__img1 div span,
.usage__img2 div span {
    font-size: 24px;
    padding-left: 48px;
    padding-right: 48px;
}
.usage__list1{
    list-style: none;
}
.usage__list2{
    list-style: none;
}
.usage__list1>li>div,
.usage__list2>li>div{
    display: inline-block;
    vertical-align: top;
    margin-right: -40px;
    margin-bottom: 6px;
    padding-right: 48px;
    padding-left: 48px;
    background: #01983b right no-repeat;
    line-height: 18px;
    position: relative;
}
.usage__list2>li{
    margin-right: 0;
    margin-left: -40px;
}
.usage__list1>li>div::before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    height: 18px;
    width: 30%;
    background: rgba(1, 152, 59, 0.39);
}
.usage__list1>li>div::after{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    height: 18px;
    width: 15%;
    background: rgba(1, 152, 59, 0.45);
}
.usage__list2>li>div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 18px;
    width: 30%;
    background: rgba(1, 152, 59, 0.39);
}
.usage__list2>li>div::after{
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 18px;
    width: 15%;
    background: rgba(1, 152, 59, 0.45);
}
.usage__rombs{
    margin: 50px 40px 125px 40px;
    height: 290px;
}
.usage__rombs span{
    display: inline-block;
    width: 190px;
    height: 190px;
    background: url('pic/romb-back.png') no-repeat center;
    margin-bottom: 24px;
}
.usage__rombs p{
    margin-top: -5px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
}
.usage__rombs div{
    float: left;
    width: 190px;
    height: auto;
    text-align: center;
    color: #01983b;
}
.usage__rombs div:nth-child(even){
    padding-top: 50px;
}
.usage__rombs span img{
    margin: 0 auto;
    margin-top: 35px;
}
.table1{
    position: relative;
}
.table1__sub{
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    width: 1225px;
    border: 3px solid #e6ecf4;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    z-index: 3;
}
.table1 .title{
    margin-top: -5px;
}
.table1 .title p{
    margin-top: 10px;
    font-weight: bold;
    color: #01983b;
}
.table1__sub table{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    border: 2px solid #d5dfec;
    border-radius: 4px;
    border-collapse: collapse;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 37px;
    background: #fff;
    color: #043567;
}
.table1__sub table th{
    border: 1px solid #e6ecf4;
    background: #01983b url('pic/pattern.png');
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}
.table1__sub table tr:nth-child(even){
    background: #f2f5f7;
}
.table1__sub table td{
    border: 1px solid #e6ecf4;
    padding: 0 20px;
    text-transform: none;
}
.table1__sub table th:nth-child(1){
    text-align: left;
    padding: 0 20px;
}
.penopolistirolcopy{
    position: absolute;
    bottom: 65px;
    left: 1260px;
}
.table2{
    padding: 20px 0 0 0;
    text-transform: none;

}
.table2__sub{
    margin-left: auto;
    margin-right: auto;
    width: 1225px;
}
.table2__sub .title p{
    text-transform: uppercase;
    color: #01983b;
}
.table2__sub table{
    font-family: sans-serif;
    font-size: 14px;
    border-spacing: 0 5px;
}
.table2__sub table td{
    padding-top: 13px;
    padding-bottom: 13px;
    color: #fff;
}
.table2__sub table tr td:nth-child(1){
    background-color: rgba(255, 0, 0, 0.25);
    width: 62px;
}
.table2__sub table tr td:nth-child(2){
    background-color: rgba(255, 0, 0, 0.5);
    width: 62px;
}
.table2__sub table tr td:nth-child(3){
    padding: 6px 28px 0 14px;
    background-color: #f00;
}
.table2__sub table tr td:nth-child(6){
    padding: 6px 23px 0 17px;
    background-color: #01983b;
}
.table2__sub table tr td:nth-child(4){
    background: #f00;
    width: 365px;
    clear: both;
}
.table2__sub table tr td:nth-child(5){
    width: 9px;
}
.table2__sub table tr td:nth-child(7){
    background-color: #01983b;
    width: 600px;
    clear: both;
}
.table2__sub table tr td:nth-child(8){
    background-color: rgba(0, 255, 0, 0.5);
    width: 62px;
}
.table2__sub table tr td:nth-child(9){
    background-color: rgba(0, 255, 0, 0.25);
    width: 62px;
}
.gallery{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.gallery a{
    float: left;
    margin-right: 40px;
}
.gallery img{
    width: 145px;
}
.certificates__sub{
    width: 980px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.certificates .title{
    margin-top: -14px;
    margin-bottom: 30px;
    font-weight: bold;
}
.certificates .title p{
    margin-top: 10px;
}
.prev__gallery{
    background: url('pic/prev.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 65%;
    left: 3%;
    z-index: 3;
}
.next__gallery{
    background: url('pic/next.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 65%;
    left: 87%;
    z-index: 3;
}
.award{
    margin-top: -5px;
}
.award p{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #073d79;
}
.award p{
    text-align: center;
}
.award img{
    display: block;
    width: 120px;
    height: 120px;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.end-contacts{
    background: #01983b url('pic/pattern.png');
    display: block;
    text-transform: none;
    width: 1225px;
    height: 200px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5),inset 0px 3px 0px 0px rgba(255, 255, 255, 0.2);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 3;
}
.end-contacts p{
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    font-size: 18px;
}
.end-contacts p:first-child{
    font-size: 30px;
    font-family: 'europeext';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -15px;
}
.end-contacts a{
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}
.map{
    margin-top: -35px;
}
.footer{
    margin-top: -20px;
    padding: 26px 0 0 0;
    font-family: sans-serif;
    font-weight: bold;
    height: 320px;
    clear: both;
}
.footer span{
    margin-top: -10px;
}
.footer p{
    text-align: center;
    text-transform: none;
    color: #fff;
    font-size: 12px;
}
.footer p:last-child{
    margin-top: 85px;
}

.footer .in-vk a{
    display: inline-block;
    width: 33px;
}
.footer .in-vk a:hover{
    opacity: 0.7;
}
.footer a{
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
}