/*general*/
body{
    margin: 0;
    padding: 0;
    font-family: 'europeext', sans-serif;
}
.content{
    width: 100%;
    min-width: 980px;
    overflow: hidden;
}
.content__sub{
    width: 980px;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: block;
    width: 0;
    
}
main{
    background-image: url('back-img/museum.png');
}
.movie{
    background-image: url('back-img/video-background.png');
}
/*header*/ /*TODO add hover active to the nav menu
                  consult with client*/
header{
    font-family: sans-serif;
    background:#01983b url('pic/pattern.png');
    height: 76px;
    width: 100%;
}
nav{
    width: 980px;
    margin: 0 auto;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    line-height: 76px;
    float: left;
    margin-right: 38px;
}
nav li:last-child{
    margin-right: 0;
}
nav li a{
    text-decoration: none;
    color: #fff;
}
nav li a:hover,
nav li a:active{
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.is-active{
    padding: 5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
/*logo, head-contacts, search field*/
.head-contacts{
    float: right;
    margin-top: 40px;
}
.head-contacts p a{
    font-family: sans-serif;
    font-weight: bold;
    color: #2c2783;
    text-decoration: none;
}
.head-contacts p:first-child{
    text-align: right;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 21px;
    color: #01983b;
}
.head-contacts p:first-child img{
    display: inline-block;
    vertical-align:middle;
}
.head-contacts p img:hover{
    opacity: 0.7;
}
.head-contacts input[type='text']{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #bfbeda;
    width: 390px;
}
button[type='submit']{
    border: none;
    background: none;
    cursor: pointer;
}
.logo{
    float: left;
    margin-top: 40px;
}

/*carousel*/ /*TODO consult with client about carousel's previous and                       next arrows*/
.carousel{
    margin-top: 16px;
    width: 100%;
}
.slider{
    position: relative;
}
.prev{
    background-image: url('pic/prev.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40%;
    left: 2%;
    list-style: none;
}
.next{
    background-image: url('pic/next.png');
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 40%;
    right: 2%;
    list-style: none;
}
.slick-dots{
    position: absolute;
    bottom: -10px;
    left: -15px;
    z-index: 999;
}
.slick-dots li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.slick-dots li img:nth-child(1) {
    display: block;
}

.slick-dots li img:nth-child(2) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(1) {
    display: none;
}

.slick-dots li.slick-active img:nth-child(2) {
    display: block;
}